#nav{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    background-color: rgb(95, 216, 210);




}

li{
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    color: azure;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
}

.container{
    display: inline-flex;
    flex-wrap: wrap;
    width: fit-content;
}
.container>div{
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(48, 43, 77);
   
}

.container>div.ads{
    width: 300px;
    padding: 20px;
    background-color: rgb(48, 43, 77);
   
}
